{# templates/course/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create New Course{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Create New Course</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}